.introducao-bg {
    background-color: var(--cor-12);
    box-shadow: inset 0 -120px var(--cor-0);
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
}

.introducao-conteudo {
    align-self: end;
    padding-bottom: calc(80px + 120px);
}

.introducao-conteudo h1 {
    margin-bottom: 32px;
    
}

.introducao-conteudo p {
    margin-bottom: 20px;
}

.introducao-conteudo h1 span {
    color: var(--cor-p1);
}





.introducao img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

@media screen and (max-width:800px) {
    .introducao-bg {
        background-color: var(--cor-11);
        padding-top: 40px;
        box-shadow: inset 0 -60px var(--cor-0);
    }

    .introducao {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .introducao-conteudo {
        padding-bottom: 0px;
    }

    .introducao img {
        height: 300px;
        width: 100%;
    }

    .introducao h1 {
        margin-bottom: 16px;
    }
}

